<div class="row">
    <div class="col-sm-4 offset-md-4">
        <div class="card card-body">
            <form (submit)="edit ? updatePersona() : submitPersona()">
                <div class="form-group">
                    <input 
                        type="text" name="nombre" 
                        [(ngModel)]="persona.nombre" 
                        class="form-control" 
                        placeholder="Nombre Persona"
                    >
                </div>
                <div class="form-group">
                    <input 
                        type="text" 
                        name="apellido" 
                        [(ngModel)]="persona.apellido" 
                        class="form-control" 
                        placeholder="Apellido Persona"
                    >
                </div>
                <div class="form-group">
                    <input 
                        type="number" 
                        name="edad" 
                        [(ngModel)]="persona.edad" 
                        class="form-control" 
                        placeholder="Edad Persona"
                    >
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>