<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
        </tr>
    </thead>
    <tbody *ngFor="let persona of personas">
        <tr>
            <th scope="row">{{persona._id}}</th>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.edad}}</td>
        </tr>
    </tbody>
</table>