<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let persona of personas">
        <tr>
            <th scope="row">{{persona._id}}</th>
            <td>{{persona.nombre}}</td>
            <td>{{persona.apellido}}</td>
            <td>{{persona.edad}}</td>
            <td>
                <button class="btn btn-warning" [routerLink]="['/personas/edit', persona._id]">
                    Editar
                </button>&nbsp;
                <button class="btn btn-danger" (click)="deletePersona(persona._id!)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>